<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .room-information{
            border:2px solid black;
            background-color: silver;
            margin-top:10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="bg-light">
    <div class="container">
        <div>
            <h3 th:text="${hotel.getName()}"></h3>
            <h3 th:text="${hotel.getStreet()}"></h3>
            <h3 th:text="${hotel.getCity()}"></h3>
            </br></br>
            <h4 class="text-center">Availble rooms</h4>
            <div th:each="room : ${hotel.getRooms()}" class="room-information">
                <h4 th:text="'Room Category Name: ' + ${room.getRoomCategory().getName()}"></h4>
                <a th:href="@{/hotels/{hotelId}/rooms/{roomId}(hotelId=${hotel.getId()},roomId=${room.getId()})}">DETAILS</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>